* {
    font-family: "Courier New", "Georgia", monospace;
    box-sizing: border-box;
    margin: 20px auto;
    width: 1200px;
    height: auto;
    font-size: 14px;
}

img {
    display: block;
    width: auto;
    height: 500px;
}

.title {
    width: 800px;
    height: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: pink;
    background-color: black;
    padding: 10px;
    border: 3px;
    border-color: pink;
    border-style: dashed;
}

.subheading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: pink;
    width: 500px;
    height: auto;
    padding: 5px;
    border: 3px;
    border-color: black;
    border-style: double;
}

.description {
    padding: 5px;
    margin: 5px;
    border: 3px;
}

.list {
    display: inline-block;
    border-style: double;
}